@import "./fonts.css";

body {
  margin: 0;
  min-width: 960px;
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
}

.container {
  max-width: 928px;
  margin: 0 auto;
  padding: 0 16px;
}

.page-header {
  padding: 32px 0 32px;
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;

}

.page-header .container,
.page-footer .container {
  max-width: 1408px;
  text-align: right;
}

.page-header a {
  margin-right: 56px;
  color: #237564;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
}

.page-header a svg {
  margin-right: 5px;
}

.header-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-header.svg");
}

.header-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-header.svg");
}

.hero-image {
  background-color: #f2f4f6;
  background-image: url("../img/knitting-balls.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 8%;
  padding-bottom: 8%;
  min-height: 60vh;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.hero-image .container {
  max-width: 1408px;
  text-align: center;
}

.heading {
  margin: 0 0 16px;
  font-size: 88px;
  line-height: 96px;
  font-weight: 700;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  margin: 0 0 120px;
}

.subheading {
  margin: 0 0 56px;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left;
}

.skill-star {
  background-image: url("../img/star.svg");
}

.skill-rating {
  background-image: url("../img/rating.svg");
}

.skill-sale {
  background-image: url("../img/hot-sale.svg");
}

.skill-clock {
  background-image: url("../img/clock.svg");
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #237564;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #F5BDC9;
  border-radius: 6px;
}

.portfolio {
  margin: 0 0 120px;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 40px 0;
  background-color: #237564;
  color: #ffffff;
  display: flex;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
  display: flex;
  align-items: center;
}

.page-footer a svg {
  margin-right: 5px;
}

.footer-email {
  padding-left: 30px;
  background-image: url("../img/icon-email-footer.svg");
}

.footer-phone {
  padding-left: 25px;
  background-image: url("../img/icon-phone-footer.svg");
}

.page-header__content {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 32px;
}